<h1>Eat Da Burger!</h1>

<h2>Burger Menu</h2>

<ul class="list-group">
    {{#each burger}}
    {{#unless this.devoured}}
    <li class="list-group-item">
        <div class="input-group">
            <p class="lead">{{this.burger_name}}</p>
        </div>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul class="list-group">
    {{#each burger}}
    {{#if this.devoured}}
    {{this.burger_name}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="burger_name" name="burger">
    </div>

    <div class="form-group">
        <label for="devoured">Devour?</label><br>
        <input type="radio" name="devoured" value="1" checked> NOM NOM!<br>
        <input type="radio" name="devoured" value="0"> I'm stuffed.
    </div>

    <button type="submit">Add Burger</button>
</form>